/*Generic text with gradient background*/
/*A gif can be used too, which looks really cool*/
				
h1 {
    /*background: url(whatever you wan to insert here lol);*/
    background: linear-gradient(#000046, #1cb5e0); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 10em;
    text-align: center;
}